@page "/"

<PageTitle>Home</PageTitle>

<h1>Portugal.AI</h1>

<p>Welcome to Portugal AI! Here you can ask for suggestions about where to eat when visiting Portugal.</p>
<p>These are recommendations you won't easily find searching Trip Advisor or similar websites. They are curated by locals that don't only care about the "fanciness" of the place, but give you an honest opinion (like your friend/family would).
We are still building up ... and for now we only support a few destinations and a few restaurants for each of them.</p>
<p>For now you can ask for food recommendations in: Aveiro, Algarve, Alentejo, Azores, Braga, Braganca, Coimbra, Covilha, Funchal, Guimaraes, Leiria, Lisbon, Porto, Santarem, Vila Real and Viseu</p>
